.section-cta {
  padding: 4rem 0 8rem;
}

.cta {
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 11px;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
}

.cta-text-box {
  padding: 3rem 4rem 4rem;
  color: #45260a;
}

.heading-secondary {
  color: #45260a;
  margin-bottom: 2rem;
}

.cta-text {
  font-size: 1.125rem;
  line-height: 1.8;
  margin-bottom: 3rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1.5rem;
}

.cta-form label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.125rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgb(235, 152, 78, 0.35),
      rgb(230, 126, 34, 0.35)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(253, 242, 233, 0.5);
}
