.section-meals {
  padding: 6rem 0;
}

.meal-img {
  width: 100%;
}

.meal-title {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.meal-attribute {
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

ion-icon {
  font-size: 1.5rem;
  color: #e67e22;
}
